<footer class="text-center mt-8">
  <hr class="mb-6 border-woodsmoke-200 dark:border-woodsmoke-700" />
  <h4>
    <strong>Vocacional Enigma</strong> - Sistema de Orientación Vocacional
  </h4>

  <p class="text-sm mt-2 text-woodsmoke-700 dark:text-woodsmoke-300">
    La información contenida en este informe es confidencial y solo puede ser
    utilizada por el usuario que la solicitó.
  </p>

  <p class="text-sm text-woodsmoke-700 dark:text-woodsmoke-300">
    La prueba utilizada es la CHASIDE.
  </p>
  <p class="mt-2.5 text-xs">
    Documento generado el {new Date().toLocaleDateString()}, {
      new Date().toLocaleTimeString()
    }
  </p>
</footer>
