---
import '../styles/global.css'
import Header from '../components/features/report/Header.astro'
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Informe detallado</title>
    <meta name="description" content="Informe detallado – Vocación Enigma" />
    <script is:inline>
      ;(function () {
        const theme = (() => {
          if (
            typeof localStorage !== 'undefined' &&
            localStorage.getItem('theme')
          ) {
            return localStorage.getItem('theme')
          }
          if (window.matchMedia('(prefers-color-scheme: dark)').matches)
            return 'dark'

          return 'light'
        })()

        if (theme === 'light') document.documentElement.classList.remove('dark')
        else document.documentElement.classList.add('dark')

        document.documentElement.style.visibility = 'hidden'
      })()
    </script>
    <script>
      function updateTheme() {
        const theme = localStorage.getItem('theme')
        const prefersDark = window.matchMedia(
          '(prefers-color-scheme: dark)'
        ).matches

        if (theme === 'dark' || (!theme && prefersDark))
          document.documentElement.classList.add('dark')
        else if (theme === 'light' || (!theme && !prefersDark))
          document.documentElement.classList.remove('dark')
      }

      updateTheme()

      document.documentElement.style.visibility = 'visible'

      document.addEventListener('astro:after-swap', updateTheme)

      window
        .matchMedia('(prefers-color-scheme: dark)')
        .addEventListener('change', (e) => {
          if (!localStorage.getItem('theme')) {
            if (e.matches) document.documentElement.classList.add('dark')
            else document.documentElement.classList.remove('dark')
          }
        })
    </script>
  </head>
  <body
    class="bg-primary-light text-primary-dark dark:bg-primary-dark dark:text-primary-light font-display transition-bg"
  >
    <Header />
    <slot />
  </body>
</html>
